
    <div class="contenedor">
        <a href="../../src/php/index.php?c=cPreguntasRespuestas&m=mostrarMenuPreguntasRespuestas" class="volverAlJuego">GESTIÓN PREGUNTAS Y RESPUESTAS</a>
        <a href="../../src/php/index.php?c=cCompeticiones&m=listarCompeticiones" class="volverAlJuego">GESTIÓN DE COMPETICIONES</a>
        <a href="../../src/php/index.php?c=cTematicas&m=listarTematicas" class="volverAlJuego">GESTIÓN DE TEMÁTICAS</a>
        <a href="views/vJuego.html" class="volverAlJuego">VOLVER AL JUEGO</a>
    </div>

